<% layout("/layouts/boilerplate") -%>
<body>
    <h3>Edit Listing</h3>
    <form action="/listings/<%= listing._id%>?_method=PUT" method="POST">
      <br />
      <input
        type="text"
        name="listing[title]"
        value="<%= listing.title %>"
      /><br /><br />
      <textarea name="listing[description]" id="" cols="30" rows="5">
        <%= listing.description %>
    </textarea
      >
      <br /><br />
      <input
        type="text"
        name="listing[image]"
        value="<%= listing.image.url %>"
      /><br /><br />
      <input
        type="text"
        name="listing[price]"
        value="<%= listing.price %>"
      /><br /><br />
      <input
        type="text"
        name="listing[location]"
        value="<%= listing.location %>"
      /><br /><br />
      <input
        type="text"
        name="listing[country]"
        value="<%= listing.country %>"
      /><br /><br />
      <button>Edit</button>
    </form>
  </body>